<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste</title>
</head>
<body>
  <h1>Mais um teste</h1>

  <button id="getAll">Get All</button>

  <div id="app"></div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- IMPORTING APIs SCRIPTS -->
  <script src="/js/api.js"></script>

</body>
</html>